
.column_wrapper {
  padding: 1em 0px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.issue_style {
  cursor: pointer;
  text-align: left;
  list-style: none;
}

.issue_style:hover {
  background: lightgrey;
}
