body {
  user-select: none;
}

.container_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_horizontal {
  display: flex;
  justify-content: center;
}

input {
  line-height: 1.5em;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

input:focus {
  border-color: rgba( 127, 127, 255, 0.5);
}

textarea {
  padding: 5px;
  border-radius: 10px;
}
